* {
  font-family: Raleway;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: regular;
  color: #373a3c;
}
@font-face {
  font-family: Raleway;
  src: url(/assets/typography/Raleway-Italic-VariableFont_wght.ttf);
  src: url(/assets/typography/Raleway-VariableFont_wght.ttf);
}
.bg-gray {
  background-color: #373a3c;
}
nav {
  height: 60px;
}

.logo {
  width: 170px;
  height: auto;
}

.hero {
  background-image: url('/assets/img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45svh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: #fff;
  padding: 0 10vh;
  text-align: end;
}
.aboutmetext {
  font-size: 16px;
  width: 80%;
}

#icons-section {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

#icons-section h2 {
  font-size: 40px;
  margin: 20px;
}

#icons-section p {
  font-size: 25px;
  margin-bottom: 30px;
}
.mis-trabajos {
  display: flex;
  flex-direction: column;
  background-color: #17a2b8;
  align-items: center;
}

.svg {
  width: auto;
  height: 40px;
}
.svgtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 20rem;
}

.imgcard {
  height: 200px;
}
