* {
  font-family: quicksand;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: medium;
  color: #fff;
  background-color: #000;
}

@font-face {
  font-family: quicksand;
  src: url(/assets/fonts/Quicksand-VariableFont_wght.ttf);
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 20px;
}

.img-card {
  height: calc(100% / 2.5);
}
.bg-aqua {
  background-color: rgb(0, 211, 211);
}
.logofooter {
  font-size: 27px;
  background-color: rgb(0, 211, 211);
}

.title {
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
}
html {
  scroll-behavior: smooth;
}

.bg-nav {
  background-color: rgb(0, 0, 0, 0.4);
}

.carousel-item img {
  max-width: auto;
  max-height: 70svh;
  object-fit: contain;
}
